<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>İletişim Sayfası</title>

</head>
<body>
<h2>ILETISIM</h2>
<form method = "POST" action = "/iletisim">
    <label for="isim">İsminiz:</label>
    <input type ="mesaj" id="isim" name = "isim" required><br><br>

    <label for="mesaj">Mesajınız:</label><br>
    <textarea name="mesaj" id="mesaj" cols="50" rows="5"></textarea><br><br>

    <button type="submit">Gönder</button>
</form>
<p><a href="/">Anasayfa</a></p>
</body>
</html>